    {{!-- this content or style will be in everypage, what ever it is in this main,handlebars
    <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">Houston Preferred Properties</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/communities">Communities</a>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary"><a href="/espanol"> Espanol</a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav> --}}






        {{!-- ALL I DID IS SET THIS NAVBAR INDIVIDUALY TO ALL PAGES, AND FOR SPANISH IN SPANISH LANG --}}