    {{!-- ==================================================== navbar --}}

    <nav>
        <div class="nav-wrapper blue">
            <div class="container">
                <a href="/" class="brand-logo responsive">Houston Preferred Properties </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/espanol">Inicio</a></li>
                    <li><a href="/sobre">Sobre Mi</a></li>
                    {{!-- <li><a href="collapsible.html">Javascript</a></li>
                <li><a href="mobile.html">Mobile</a></li> --}}
                    <a href="/" class="waves-effect waves-light btn">English</a>
                </ul>
            </div>
    </nav>

{{!-- ========================================================sidenav --}}
    <ul class="sidenav" id="mobile-demo">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="img/THH_25121916_25131916_25126916_25136916_001.jpg">
                </div>
                {{!-- <img src="img/sun.png" alt="Houston Preferred Property logo, yellow sun with Houston Tx skyline" width="90px" height="80px" >
      <br> --}}
                <a href="#user"><img class="circle" src="img/thumbnail_1593789836841-1-1.png"></a>
                <a href="#name"><span class="white-text name">Connie Moreno</span></a>
                <a href="mailto:cmoreno29@aol.com" target="_blank"><span
                        class="white-text email">cmoreno29@aol.com</span></a>
            </div>
        <li><a href="/" style="font-weight: bolder;">Houston Preferred Properties</a></li>

        <li>
            <div class="divider"></div>
        </li>
        <li><a href="/">Inicio</a></li>
        <li><a href="/sobre">Sobre Mi</a></li>
        {{!-- <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li> --}}
        <a href="/" class="waves-effect waves-light btn">English</a>

    </ul>
    </div>